@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap');

*{
  font-family: 'Nunito', sans-serif;
}

#slide1 {
  height: 500px;
}

[name=cards]{
  z-index: 2;
  max-width: 600px;
  position: absolute;
  top: 50%; transform: translateY(-50%);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 0;
  margin-left: 5%; padding: 20px;
}

.card-title{
  font-size:30px;
  color: #000;
  font-weight: bold;
  opacity: unset;
}

.card-text {
  font-size: 17px;
}

.card-text span {
  font-weight: bold;
}

#boton{
  border-radius: 35px;
  font-weight: bold;
  width: 145px;
  cursor: pointer;
}

.extraImage{
  z-index: 2;
  position: absolute;
  width: 210px;
  right: 24%;
  top: 35%; 
}

.carousel-item{
  width: 100%;
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.carousel-indicators button{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition: opacity 100%;
  border: 2px solid #c4c4c4;
  padding: 0;
}

.carousel-indicators .active {
  background-color: #c4c4c4;
}

#carousel-img-item{
  width:300px;
  top:42%;
}

@media (max-width:1024px){
  .carousel-item{
    background-position: center center;
  }
  .extraImage{
    right: 50px;
  }
}

@media (max-width:890px){
  .extraImage{
    width: 180px;
    top: 215px;
  }
  #carousel-img-item{
    width: 250px;
    bottom: 25px;
    top: inherit;
  }
}

@media (max-width:768px){
  .extraImage{
    width: 160px;
  }

  .card {
    margin: 20px;
    top: 150px;
  }

  .card-title{
    font-size:22px;
  }
  
  .card-text {
    font-size: 14px;
  }
}

@media (max-width:425px){
  .extraImage{
    right: 20px;
  }
}