[name=offcanvasIcon]{
  position: absolute;
  top: 2%;
  left: 1%;
}

[name=cardGrid]{
  position: absolute;
  top: 8%;
  left: 1%;
}

.card{
  border-radius: 10px;
}

.card-img{
  border-radius: 10px;
  z-index: 1;
}

.card:after {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
  border-radius: 10px;
  z-index: 2;
}

.card-img-overlay{
  z-index: 3;
}

[name=info]{
  border-radius: 20px;
  font-weight: bold;
  color: white;
  border-color: white;
}

[name=modalImage]{
  border-radius: 0px;
  width: fit-content;
  height: fit-content;
  z-index: 1;
}

[name=modalIcon]{
  position: absolute;
  top: 5%;
  right: 2%;
  background-color: white;
  z-index: 5;
}


.modal-header{
  background-image: url(../../../../assets/promo-full-1.jpg);
  background-size: 100% 100%;
}

