<button class="navbar-toggler" type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample"
        aria-controls="offcanvasExample"
        name="offcanvasIcon">
   <div class="menuIcon"><div></div><div></div><div></div></div>
</button>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="list-group list-group-flush">
      <li class="list-group-item active">
        <img src="../../../../assets/off-canvas-homepage.svg" width="25px" height="25px"> HomePage
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/off-canvas-gift.svg" width="25px" height="25px"> Promotions
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/off-canvas-live-casino.svg" width="25px" height="25px"> Live Casino
      </li>
      <li class="list-group-item">
        <img src="../../../../assets/off-canvas-headset.svg" width="25px" height="25px"> Contact Us
      </li>
    </ul>
  </div>
</div>

<div class="container-fluid" name="cardGrid">
<div class="row ">
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card text-white">
      <img src="../../../../assets/promo-1.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Get €1000 in bonuses & 1000 free spins</h5>
        <p class="card-text"> Receive up to €100 for free when making your first deposit & you get 1000 free spins</p>
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" name="info">
          More info
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card bg-dark text-white">
      <img src="../../../../assets/promo-2.jpg" class="card-img bg-secondary bg-gradient" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Get €1000 in bonuses & 1000 free spins</h5>
        <p class="card-text"> Receive up to €100 for free when making your first deposit & you get 1000 free spins</p>
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" name="info">
          More info
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card bg-dark text-white">
      <img src="../../../../assets/promo-3.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Get €1000 in bonuses & 1000 free spins</h5>
        <p class="card-text"> Receive up to €100 for free when making your first deposit & you get 1000 free spins</p>
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" name="info">
          More info
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card bg-dark text-white">
      <img src="../../../../assets/promo-1.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Get €1000 in bonuses & 1000 free spins</h5>
        <p class="card-text"> Receive up to €100 for free when making your first deposit & you get 1000 free spins</p>
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" name="info">
          More info
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card bg-dark text-white">
      <img src="../../../../assets/promo-1.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Get €1000 in bonuses & 1000 free spins</h5>
        <p class="card-text"> Receive up to €100 for free when making your first deposit & you get 1000 free spins</p>
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" name="info">
          More info
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card bg-dark text-white">
      <img src="../../../../assets/promo-2.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Get €1000 in bonuses & 1000 free spins</h5>
        <p class="card-text"> Receive up to €100 for free when making your first deposit & you get 1000 free spins</p>
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" name="info">
          More info
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card bg-dark text-white">
      <img src="../../../../assets/promo-3.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Get €1000 in bonuses & 1000 free spins</h5>
        <p class="card-text"> Receive up to €100 for free when making your first deposit & you get 1000 free spins</p>
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" name="info">
          More info
        </button>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12">
    <div class="card bg-dark text-white">
      <img src="../../../../assets/promo-1.jpg" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Get €1000 in bonuses & 1000 free spins</h5>
        <p class="card-text"> Receive up to €100 for free when making your first deposit & you get 1000 free spins</p>
        <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#exampleModal" name="info">
          More info
        </button>
      </div>
    </div>
  </div>
</div>

</div>

<!-- Modals for MORE INFO buttons-->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" name="modalIcon"></button>
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-12">
              <h2 class="modal-title">Get €1000 in bonuses & 1000 free spins</h2>
              <p class="modal-text"> Receive up to €100 for free when making your first deposit & you get 1000 free spins</p>
            </div>
            <div class="col-md-4 col-sm-12">
              <button type="button" class="btn btn-modal btn-outline-warning" name="info">
                Activate
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed urna sit amet est scelerisque tempus vel et elit. Nulla accumsan pretium metus et vestibulum. Ut et ullamcorper neque. Sed eleifend blandit ligula. Pellentesque id ullamcorper neque. Nunc luctus sapien massa, in auctor sapien tincidunt id. Phasellus pulvinar, nulla et aliquam tristique, dui tortor tempus orci, et condimentum nulla mauris nec est. Nulla pretium augue nec ultrices aliquam. Duis lacinia leo turpis, ut auctor velit euismod vitae. Curabitur accumsan lobortis placerat. Pellentesque varius commodo leo id vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc ut scelerisque est, ultrices consequat risus. Cras a porttitor mauris.</p>
        <p>Mauris eget porttitor quam, a varius tellus. Nullam quis pellentesque velit, id lacinia nisl. Donec lobortis vulputate lacus. Praesent convallis quam sit amet enim dictum, et laoreet nibh hendrerit. Cras euismod ex in ante convallis luctus. Fusce sit amet faucibus lacus, vel aliquet ipsum. Vivamus tristique nulla non leo egestas auctor. Etiam quis massa quis dui sodales mollis sit amet eu erat. Maecenas porttitor orci nec velit dapibus mollis. Pellentesque sollicitudin volutpat justo nec lobortis. Nulla pulvinar erat sed risus tristique varius. Donec varius dui a vulputate venenatis. Integer est tellus, ultricies mattis tristique vel, tristique ut urna. Nunc sollicitudin ligula nulla, a porttitor ex sagittis eget.</p>
        <p>Nam tempus, libero et vestibulum finibus, justo erat vulputate arcu, ut interdum lorem arcu in ante. Ut sagittis nisi at velit vestibulum, vitae condimentum quam placerat. Aliquam et bibendum ipsum, at dapibus odio. Cras felis leo, sagittis id lobortis vel, faucibus eget eros. Proin auctor viverra nulla eget efficitur. Praesent scelerisque odio lectus, id gravida risus efficitur in. Vivamus quis eros sed nisi cursus dignissim eu ut magna. Proin euismod varius nibh vel vestibulum. Donec pharetra, tellus quis mollis gravida, lorem mauris interdum enim, ut auctor dui ipsum vel augue. Fusce et lectus vel justo tincidunt pretium sit amet nec orci. Vestibulum nec metus eget ligula interdum semper. Aliquam faucibus rutrum dolor. Cras eu quam pretium est venenatis sodales ut semper felis. Suspendisse elementum ipsum ex, quis suscipit elit porta id.</p>
        <p>Vestibulum sollicitudin enim in sapien scelerisque, eget congue risus sagittis. Pellentesque eu justo elit. Proin sagittis non risus at condimentum. Praesent arcu ex, sodales sed odio sed, rhoncus viverra lacus. Pellentesque vel pulvinar nibh. Mauris egestas velit pharetra, varius nulla vel, tristique nibh. Mauris nec ipsum tempor ligula porta commodo id et elit. Nullam ultrices magna ac metus ornare volutpat et at risus. Nam fermentum turpis at ipsum iaculis aliquam nec eget enim. Nullam quis tortor at velit aliquam ultricies a vel augue. Aliquam sit amet fringilla nulla. Donec volutpat, erat nec faucibus rhoncus, est mauris posuere libero, vel tempus massa enim id metus. Sed hendrerit dictum tempus. Vivamus sed arcu interdum, interdum purus quis, venenatis augue.</p>

        <p>Nulla luctus a quam a molestie. Morbi ornare vitae enim vitae aliquet. Curabitur pharetra diam nibh, vel consequat justo mattis at. Vivamus luctus gravida lectus nec volutpat. Duis vestibulum nunc sed tortor suscipit sollicitudin. Fusce sagittis, lectus sed mollis vehicula, sem dolor gravida est, quis sodales orci enim eget elit. Phasellus a ante ut massa finibus tristique. Mauris in nibh nulla. Integer sollicitudin velit arcu, a vehicula nulla pulvinar feugiat. Nullam quis libero non est blandit vehicula sit amet non lectus.</p>
      </div>
    </div>
  </div>
</div>
